body {
  font-family: "Roboto", sans-serif;
}

/*section spacing*/
section {
  margin-top: 20vh;
}

/*stop the page from scrolling*/
.no-scroll {
  overflow: hidden !important;
}

/*styles for header*/
.navbar {
  background-color: #fff;
  border-bottom: none;
  transition-duration: 0.6s;
}

.navbar-scroll {
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.13);
  transition-duration: 0.6s;
}

.nav-dropdown-scroll {
  background: #e7eaea;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.13);
}

.nav-item a:hover {
  color: #6e80f0 !important;
  transition: 0.75s;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
}

.nav-link {
  color: rgb(70, 70, 70) !important;
}

.active {
  color: #6e80f0 !important;
  font-weight: bold;
}

.calculator-nav-link {
  cursor: pointer;
}

.right-float {
  margin-left: auto;
}

.blue-navlink {
  color: #6e80f0;
}

.show {
  border-bottom: 3px #6e80f0 solid;
  padding: 16px;
}

.navbar-collapse {
  transition: none !important;
}

.getquoted-style {
  border-bottom: none;
}

.blue-navlink:hover {
  color: rgb(109, 187, 197);
  transition: 0.75s;
}

.collapse-brand {
  text-align: center;
}

.navbar-brand {
  margin-right: 10px !important;
}

.brand-name {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Pacifico", cursive;
  color: rgb(70, 70, 70);
}

#brand-name-nav {
  text-decoration: none;
}

#brand-name-nav:hover {
  text-decoration: none !important;
}

/*styles for hero section
-
-
-
-*/

#hero {
  margin-top: 70px !important;
}

.front-gif {
  height: auto;
  max-width: 100%;
}

#typed2 {
  font-size: 54px;
  font-family: "Pacifico", cursive;
  display: inline !important;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  color: #6e80f0;
}

.gif-text {
  font-size: 1.25rem;
  font-weight: 300;
  width: 95%;
  text-align: left !important;
}

.gif-button {
  background-color: #6e80f0;
  color: #fff;
  float: left;
  font-size: 1.5rem;
  margin-top: 5%;
}

.gif-button:hover {
  background-color: #6e80f0;
  color: #fff;
  float: left;
  background-color: #374ac4;
}

.gif-button-2 {
  background-color: transparent;
  border-color: #6e80f0;
  font-size: 1.5rem;
  color: #6e80f0;
  float: left;
  margin-left: 10px;
  margin-top: 5%;
}

.gif-button-2:hover {
  background-color: #6e80f0;
  color: #fff;
  float: left;
}
/*styles for hero section ends here
-
-
-
-
-
*/

#steps p {
  color: rgb(95, 95, 95);
}

#steps h5 {
  font-weight: 700;
  font-family: "Roboto Mono", monospace;
  color: #6e80f0;
}

.typed-cursor {
  font-size: 54px;
  color: rgb(33, 37, 41);
}
/*styles for hero section ends here
-
-
--
-
-
*/

/*styles for brands section starts here
-
-
-
-
--
*/

#brands > h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 54px;
  color: #6e80f0;
  font-weight: 400;
  text-align: center;
}

#brands > p {
  color: rgb(95, 95, 95);
  text-align: center;
  margin-top: 2vh;
}

.testimonial-group {
  max-width: 90vw;
  margin: auto;
}

.testimonial-group .row {
  overflow-x: auto;
  white-space: nowrap !important;
  flex-wrap: nowrap !important;
}
.testimonial-group .row .col-3 {
  display: inline-block !important;
  float: none;
  color: #fff;
  font-size: 48px;
  padding: 0.5%;
}

#brands .left-arrow {
  float: left;
  margin-left: 2vw;
  color: #e0e0e0;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
}

#brands .right-arrow {
  float: right;
  margin-right: 2vw;
  color: #e0e0e0;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
}
/*styles for brands section ends here
-
-
-
-
-
--
-
*/

/*styles for benefits section starts here
-
-
-
-
--
-
*/
#benefits > h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 2.5rem;
  color: rgb(33, 37, 41);
  font-weight: 400;
  text-align: center;
}

#benefits > p {
  color: #6e80f0;
  text-align: center;
  margin-top: 2vh;
}

#benefits h5 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}

#benefits > .container {
  margin-right: auto;
  margin-left: auto;
}

#benefits > .container > .row > .col-md-4 {
  padding: 3%;
}

#benefits > .container > .row > .col-md-4 > p {
  color: rgb(95, 95, 95);
}

#benefits > .container > .row > .col-md-4 > i {
  font-size: 4rem;
  margin-bottom: 5%;
  color: #6e80f0;
}
/*
-
-
-
-
styles for benefits section ends here
-
-
-
-
*/

/*
-
-
-
--
styles for footer section starts here
-
-
-
-
-
*/

#swift-footer {
  background-color: rgb(29, 34, 41);
  margin-top: 10vh;
}

.start-shopping {
  padding: 7vh 7vw;
  border-bottom: #6e80f0 solid 0.1px;
}

.start-shopping h1 {
  color: #6e80f0;
  font-family: "Pacifico", cursive;
  font-weight: 10;
  line-height: 1.5;
}

.start-shopping p {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.footer-get-quoted {
  min-width: 130px;
  width: 30%;
  background-color: #6e80f0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0 4vw 3vw 2vw;
  float: right;
}

.footer-get-quoted:hover {
  background-color: #374ac4;
}

.footer-contact-us {
  min-width: 120px;
  background-color: transparent;
  width: 25%;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  border-color: #fff;
  float: right;
}

.footer-contact-us:hover {
  color: rgb(185, 185, 185);
  border-color: rgb(185, 185, 185);
}

.main-footer {
  padding: 7vh 7vw 0 7vw;
}

.main-footer ul {
  padding: 0;
  margin-top: 7vh;
}

.footer-resources {
  text-align: center;
}

.social-media {
  text-align: right;
}

.main-footer li {
  color: #fff;
  list-style: none;
  font-family: "Roboto", sans-serif;
  margin-bottom: 12px;
  cursor: pointer;
}

.footer-title {
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 18px;
  font-size: 18px;
  color: #6e80f0 !important;
}

.copyright {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #6f7885;
  margin-top: 5vh;
  padding-bottom: 2vh;
}

#swift-footer .main-footer a {
  text-decoration: none;
  color: #fff;
}

/*
-
-
--
-
styles for footer section ends here
-
-
-
-*/

/*
-
-
-
-
-styling for how it works page
-
-
-
-
*/
#steps-detailed {
  margin-top: 100px;
}

#steps-detailed .row {
  margin-bottom: 10vh;
}

#steps-detailed h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  color: #6e80f0;
}

#steps-detailed h5 {
  font-family: "Roboto Mono", monospace;
  color: #6e80f0;
}

#steps-detailed p {
  color: rgb(95, 95, 95);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

/*styles for get quoted page

--
-
-
-
-
-
-
*/
#get-quoted-form {
  max-width: 700px;
  margin-top: 100px;
}

#get-quoted-form form {
  padding: 5vw;
  border: 2px #6e80f0 solid;
  border-radius: 10px;
}

#get-quoted-form label {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  color: #6e80f0;
}

#get-quoted-form button {
  background-color: #6e80f0;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 30px;
}

#get-quoted-form button:hover {
  background-color: #374ac4;
}

#get-quoted-form h1 {
  color: #6e80f0;
  font-family: "Roboto Mono", monospace;
}

#get-quoted-form .product-options,
#get-quoted-form .product-links {
  margin-bottom: 0.5rem;
}

#get-quoted-form .add_button {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #6e80f0;
}

#get-quoted-form .remove_button {
  font-size: 1.5rem;
  line-height: 1.5;
  color: rgb(139, 25, 25);
}

/*styles for calculator*/

.calculator {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #88888850;
  position: fixed;
  z-index: 2000;
  display: none;
  margin-top: 0 !important;
}

.calculator h1 {
  margin-bottom: 10%;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: #6e80f0;
}

.calculator label {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: rgb(33, 37, 41);
}

.radio-label {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.15rem;
  color: #6e80f0;
}

.radio-div {
  margin-bottom: 5%;
  margin-top: 5%;
}

.calculator i {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1.75rem;
  cursor: pointer;
}

.calculator i:hover {
  color: #6e80f0;
  font-weight: bold;
}

.calculator > .container {
  max-width: 700px;
  padding-top: 5vh;
}

.calculator form {
  background-color: #fff;
  padding: 3vw 5vw 5vw 5vw;
  border-radius: 10px;
}

.calculator .form-check {
  display: inline-block !important;
}

.calculator button {
  background-color: #6e80f0;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 30px;
}

.calculator button:hover {
  background-color: #374ac4;
}

.calculator h2 {
  font-family: "Roboto Mono", monospace;
  color: #6e80f0;
  margin-top: 10px;
}

#final-price {
  color: rgb(33, 37, 41);
}

.show-calculator {
  display: flex !important;
}
/*
-
-
-
-
-
styles for calculator ends here
-
-
-
-
*/

/*
-
-
-
-
styles for privacy policy starts here
-
-
-
-
*/
#privacy-policy h1,
#privacy-policy h4 {
  color: #6e80f0;
  font-family: "Roboto Mono", monospace;
}

#privacy-policy h4 {
  margin-top: 10vh;
}

#privacy-policy p,
#privacy-policy li {
  font-family: "Roboto", sans-serif;
  color: rgb(95, 95, 95);
}

/*
-
-
--
-
styles for privacy policy ends here
-
-
-
-*/

/*
-
-
--
styles for terms & conditons start here
-
-
-
-*/
#termsandcons h1,
#termsandcons h4 {
  color: #6e80f0;
  font-family: "Roboto Mono", monospace;
}

#termsandcons h4 {
  margin-top: 10vh;
}

#termsandcons p,
#termsandcons li {
  font-family: "Roboto", sans-serif;
  color: rgb(95, 95, 95);
}
/*
-
-
-
-
styles for terms and condtions ends here
-
-
-
-
*/
/*
-
-
-
-
styles for contact us starts here
-
-
-
-
-*/

#contact-us {
  margin-top: 100px;
}

#contact-us p {
  color: rgb(95, 95, 95);
}

#contact-us h1,
#contact-us h4 {
  font-family: "Roboto Mono", monospace;
  color: #6e80f0;
}

#contact-us h5 {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#contact-us h5 i {
  font-weight: normal;
}

.c-messenger {
  color: #40a3ff;
}

.c-viber {
  color: #7b43a0;
}

.c-instagram {
  color: #dd4075;
}

.c-email {
  color: #6e80f0;
}

.c-call {
  color: #ffd05c;
}

.c-sms {
  color: #deb085;
}

@media (max-width: 992px) {
  .front-gif {
    max-width: 100%;
    margin-top: 5%;
  }
  #typed2 {
    font-size: 2.5rem;
  }
  #brands > h1 {
    font-size: 2.5rem;
  }

  #benefits > .container > .row > .col-md-4 {
    padding: 6%;
  }

  #benefits > h1 {
    font-size: 1.5rem;
  }

  #benefits > h5 {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .gif-button {
    font-size: 1rem;
  }
  .gif-button-2 {
    font-size: 1rem;
  }
  .nav-link {
    padding: 0.4rem 1rem;
  }
  #steps-detailed .order-last {
    order: -1;
  }
  .social-media {
    text-align: center;
  }

  .footer.discover {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .nav-link {
    padding-right: 0.55rem !important;
    padding-left: 0.55rem !important;
  }
  #brands .left-arrow,
  #brands .right-arrow {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav-link {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
  }
}

@media (min-width: 1200px) {
  .nav-link {
    padding-right: 1.75rem !important;
    padding-left: 1.75rem !important;
  }
}
