body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: #fff;
  border-bottom: none;
  transition-duration: 0.6s;
}

.navbar-scroll {
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.13);
  transition-duration: 0.6s;
}

.nav-dropdown-scroll {
  background: #e7eaea;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.13);
}

.nav-item a:hover {
  color: #6e80f0 !important;
  transition: 0.75s;
}

.navbar-toggler {
  border: none !important;
}

.nav-link {
  color: rgb(70, 70, 70) !important;
}

.active {
  color: #6e80f0 !important;
  font-weight: bold;
}

.right-float {
  margin-left: auto;
}

.blue-navlink {
  color: #6e80f0;
}

.show {
  border-bottom: 3px #6e80f0 solid;
  box-shadow: 0px 5px 5px rgba(0, 0.26, 0.26, 0.26);
  padding: 16px;
}

.getquoted-style {
  border-bottom: none;
  box-shadow: 0px 5px 5px rgba(0, 0.26, 0.26, 0);
}

.blue-navlink:hover {
  color: rgb(109, 187, 197);
  transition: 0.75s;
}

.collapse-brand {
  text-align: center;
}

.navbar-brand {
  margin-right: 10px !important;
}

.brand-name {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Pacifico", cursive;
}

.front-gif {
  height: auto;
  max-width: 100%;
  margin-top: 15% !important;
}

.gif-content {
  margin-top: 15% !important;
}

#typed2 {
  font-size: 54px;
  font-family: "Pacifico", cursive;
  display: inline !important;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  color: #6e80f0;
}

.gif-text {
  font-size: 1.25rem;
  font-weight: 300;
  width: 95%;
  text-align: left !important;
}

.gif-button {
  background-color: #6e80f0;
  color: #fff;
  float: left;
  font-size: 1.5rem;
  margin-top: 5%;
}

.gif-button:hover {
  background-color: #6e80f0;
  color: #fff;
  float: left;
  font-size: 1.5rem;
}

.gif-button-2 {
  background-color: transparent;
  border-color: #6e80f0;
  font-size: 1.5rem;
  color: #6e80f0;
  float: left;
  margin-left: 10px;
  margin-top: 5%;
}

.gif-button-2:hover {
  background-color: #6e80f0;
  color: #fff;
  float: left;
  font-size: 1.5rem;
}

#steps > .container {
  margin-top: 12%;
}
#steps p {
  color: rgb(95, 95, 95);
}

#steps h5 {
  font-weight: 700;
  font-family: "Roboto Mono", monospace;
  color: #6e80f0;
}

.typed-cursor {
  font-size: 54px;
  color: rgb(33, 37, 41);
}

#brands > h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 54px;
  color: rgb(33, 37, 41);
  font-weight: 400;
  text-align: center;
  margin-top: 20vh;
}

#brands > p {
  color: rgb(95, 95, 95);
  text-align: center;
  margin-top: 2vh;
}

.testimonial-group {
  max-width: 90vw;
  margin: auto;
}

.testimonial-group .row {
  overflow-x: auto;
  white-space: nowrap !important;
  flex-wrap: nowrap !important;
}
.testimonial-group .row .col-3 {
  display: inline-block !important;
  float: none;
  color: #fff;
  font-size: 48px;
  padding: 0.5%;
}

#benefits > h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 2.5rem;
  color: rgb(33, 37, 41);
  font-weight: 400;
  text-align: center;
  margin-top: 20vh;
}

#benefits > p {
  color: #6e80f0;
  text-align: center;
  margin-top: 2vh;
}

#benefits h5 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
}

#benefits > .container {
  margin-right: auto;
  margin-left: auto;
}

#benefits > .container > .row > .col-md-4 {
  padding: 3%;
}

#benefits > .container > .row > .col-md-4 > p {
  color: rgb(95, 95, 95);
}

#benefits > .container > .row > .col-md-4 > i {
  font-size: 4rem;
  margin-bottom: 5%;
  color: #6e80f0;
}

#swift-footer {
  background-color: rgb(29, 34, 41);
  margin-top: 10vh;
}

.start-shopping {
  padding: 7vh 7vw;
  border-bottom: #6e80f0 solid 0.1px;
}

.start-shopping h1 {
  color: #6e80f0;
  font-family: "Pacifico", cursive;
  font-weight: 10;
  line-height: 1.5;
}

.start-shopping p {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.footer-get-quoted {
  min-width: 130px;
  width: 30%;
  background-color: #6e80f0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 0 4vw 3vw 2vw;
  float: right;
}

.footer-contact-us {
  min-width: 120px;
  background-color: transparent;
  width: 25%;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  border-color: #fff;
  float: right;
}

.main-footer {
  padding: 7vh 7vw 0 7vw;
}

.main-footer ul {
  padding: 0;
  margin-top: 7vh;
}

.footer-resources {
  text-align: center;
}

.social-media {
  text-align: right;
}

.main-footer li {
  color: #fff;
  list-style: none;
  font-family: "Roboto", sans-serif;
  margin-bottom: 12px;
}

.footer-title {
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
  margin-bottom: 18px;
  font-size: 18px;
  color: #6e80f0 !important;
}

.copyright {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #6f7885;
  margin-top: 5vh;
  padding-bottom: 2vh;
}

/*styling for how it works page*/
#steps-detailed {
  margin-top: 100px;
}

#steps-detailed .row {
  margin-bottom: 10vh;
}

#steps-detailed h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  color: #6e80f0;
}

#steps-detailed h5 {
  font-family: "Roboto Mono", monospace;
  color: #6e80f0;
}

#steps-detailed p {
  color: rgb(95, 95, 95);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

@media (max-width: 992px) {
  .front-gif {
    max-width: 100%;
    margin-top: 5%;
  }
  #typed2 {
    font-size: 2.5rem;
  }
  #brands > h1 {
    font-size: 2.5rem;
  }

  #benefits > .container > .row > .col-md-4 {
    padding: 6%;
  }

  #benefits > h1 {
    font-size: 1.5rem;
  }

  #benefits > h5 {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .gif-button {
    font-size: 1rem;
  }
  .gif-button-2 {
    font-size: 1rem;
  }
  .nav-link {
    padding: 0.4rem 1rem;
  }
  #steps-detailed .order-last {
    order: -1;
  }
}

@media (min-width: 768px) {
  .nav-link {
    padding-right: 0.55rem !important;
    padding-left: 0.55rem !important;
  }
}

@media (min-width: 992px) {
  .nav-link {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
  }
}

@media (min-width: 1200px) {
  .nav-link {
    padding-right: 1.75rem !important;
    padding-left: 1.75rem !important;
  }
}
